@CHARSET "ISO-8859-1";

table
{
	border-collapse: collapse;
	border-bottom: 3px double black;
}
tr:NTH-CHILD(2n+3)
{
	border-bottom: 3px double black;
	border-top: 1px solid black;
}
tr:FIRST-CHILD
{
	border-bottom: 2px solid black;
}
a
{
	text-decoration: none;
}
form
{
	padding: 5px;
	border: 2px solid black;
	width: 50%;
}
span
{
	display:inline-block;
	padding: 5px;
	font-weight:bold;
	width:50%;
}

